@import url(./style.css);

.main-image {
    width: 100%;
}

.headline h1 {
    color: white;
}

.exhibition,
.ticket {
    .section-txt {
        position: relative;

        .btn {
            position: absolute;
            right: var(--spacer);
            bottom: var(--spacer);
        }
    }

}