@import url(./reset.css);
@import url(./typography.css);


:root {
    --orange: #EEA158;
    --lilac: #C9B7F0;
    --green: #94D5C3;
    --spacer: 24px;
}

html {
    font-family: 'Bayon', sans-serif;
    font-size: 100%;
    margin: 0 5rem;
}

body {
    background-color: white;
}

header,
footer {
    width: 100%;
    background-color: var(--orange);

    img {
        height: auto;
        width: 100px;
        /* margin: 10px; */
    }

    ul {
        color: white;
        display: flex;
        list-style-type: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
    }



    li {
        list-style: none;
        display: inline-block;
        padding-right: var(--spacer);
    }

    li img {
        padding-left: var(--spacer);
        padding-top: 8px;

    }

    a {
        text-decoration: none;
        font-size: 1.5rem;
        color: white;
    }
}



img,
picture,
video {
    max-width: 100%;
}

p {
    font-family: sans-serif;
    margin-top: 20px;
    line-height: 1.5;
}

.info {
    background-color: var(--green);
    padding: var(--spacer);
    display: block;
}

h2 {
    margin-top: 20px;
}

h3 {
    margin-top: 20px;
}

.btn {
    background-color: var(--orange);
    color: black;
    padding: 10px 20px;
    text-decoration: none;

    &:hover {
        background-color: #FFC58F;
    }
}

section {
    display: flex;
    background-color: #94D5C3;
    margin: var(--spacer) 0;

    .section-txt {
        width: 45%;
        padding: var(--spacer);

    }

    img {
        height: auto;
        width: 55%;
        object-fit: cover;
    }

    &:nth-child(odd) {
        flex-direction: row-reverse;
    }
}

.headline {
    position: relative;

    img {
        width: 100%;
        height: auto;
    }

    h1 {
        position: absolute;
        right: var(--spacer);
        top: var(--spacer);
        font-size: 4.5rem;
        text-align: center;
        /* transform: center; */
        line-height: 1;
    }
}

.event {
    background-color: #C9B7F0;
}




/*        Media queries     */

@media (max-width: 880px) {

    html {
        margin: 0 16px;
    }

    header,
    footer {
        a {
            font-size: 1rem;
        }

        img {
            /* width: 80px; */
            margin: 0px;
        }

        li {
            padding-right: 8px;
        }

    }

    section {

        display: block;

        &:nth-child(odd) {
            flex-direction: unset;
        }

        flex-direction: column;

        .section-txt {
            width: 100%;
        }

        img {
            width: 100%;
            margin-bottom: 0px;
        }



    }

    .headline h1 {
        font-size: 3rem;
    }

    .btn {
        padding: 5px 10px;
    }

}


@media (max-width: 460px) {

    html {
        margin: 0 8px;
    }

    header,
    footer {
        a {
            font-size: 1rem;
        }

        img {
            /* width: 80px; */
            margin: 0px;
        }

        li {
            padding-right: 2px;
        }

        li img {
            padding-left: 8px;
        }

    }
}